@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.component-app {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/skyline.jpg");
  background-size: cover;
  min-height: 100vh;
  flex-wrap: wrap;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text {
  color: whitesmoke;
  font-size: 48px;
}

.timer {
  font-size: 64px;
  color: whitesmoke;
}